

*   {
}

body{
    padding: 0;
    background-color: #373737;
    box-sizing: border-box;
}

div {
    color: darkorange;
    font-family: "arial","Helvetica", "Helvetica Neue", "sans-serif";
}

.navbar {
    background-color: #373740;
    width: 100%;
    margin: 0;
    padding:2em;
}

.myName {
    flex-grow: 2;
}

.nav_item   {
    flex-grow: 1;
}
